.video-viewer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  overflow: hidden;
  .video-player {
    overflow: hidden;
    width: 600px;
    height: 600px;
    border: 1px solid green;
  }
  img {
    width: 10px;
    height: 10px;
  }
  .thumbnail-list {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: row;
    border: 1px solid green;
    .thumbnail-item img {
      // 设置图片元素的宽度为缩略图的宽度
      width: 10px;
      height: 10px;
    }
  }
}