@import "../../style/variables";

.main-content {
    height: 100%;
    background: url("../../assets/images/global.png") no-repeat;
    padding-top: 40px;
    box-sizing: border-box;
    overflow: hidden;
    flex: 1;
    .transfer-btns {
        border-bottom: 1px solid $color-border;
        width: 100%;
        height: 40px;
        min-height: 40px;
        box-sizing: border-box;
        padding: 8px 12px;
    }
    .control-btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $color-border;
        width: 100%;
        overflow: hidden; //超出的文本隐藏
        text-overflow: ellipsis; //溢出用省略号显示
        white-space: nowrap; //溢出不换行
        .left-wrapper {
            height: 40px;
            min-height: 40px;
            padding: 8px 12px;
            border-bottom: 1px solid $color-border;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            color: #fff;
            .ant-space-item {
                display: flex;
                align-items: center;

                .back {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 10px;
                    height: 16px;

                    &.disabled {
                        opacity: 0.3;
                        cursor: not-allowed;
                    }
                }

                .reload {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 14px;
                    height: 14px;
                }
            }
        }
        .right-wrapper {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 16px;
            .ant-space-item {
                display: flex;
                align-items: center;

                .ant-input-affix-wrapper {
                    margin: 0 5px;

                    .ant-input-prefix {
                        img {
                            display: inline-block;
                            height: 14px;
                            width: 14px;
                        }
                    }
                }

                .mode-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
    .loading-wrapper {
      height: 100%;
      overflow: hidden;
      box-sizing: border-box;
      .ant-spin-container {
        height: 100%;
        position: relative;
      .file-wrapper-table {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          .file-meta {
              display: flex;
              flex-direction: row;
              align-items: center;
  
              .file-icon {
                font-size: 25px;
              }
  
              .file-name {
                overflow: hidden; //超出的文本隐藏
                text-overflow: ellipsis; //溢出用省略号显示
                white-space: nowrap; //溢出不换行
                margin-left: 10px;
              }
            }
      }
      .file-wrapper-grid {
          min-height: 100%;
          overflow: hidden;
  
          .file-cell-grid {
            float: left;
            height: 80px;
            width: 80px;
            margin: 5px;
            overflow: hidden;
  
            &:hover {
              .file-cell-grid-inner {
                background: rgba(0, 0, 0, 0.3);
              }
            }
  
            .file-cell-grid-inner {
              padding: 5px;
              border-radius: 3px;
              display: flex;
              flex-direction: column;
              align-items: center;
  
              .preview-image {
                overflow: hidden;
  
                img {
                  width: 50px;
                  height: 50px;
                  object-fit: cover;
                }
              }
  
              .name {
                display: inline-block;
                font-size: 12px;
                line-height: 17px;
                width: 100%;
                color: #fff;
                text-align: center;
                padding-top: 3px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }
        }
    }
}}