@import "../../style/variables";
@import "../../style/index.scss";

.main-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #865c55, #3b3b4f);
    font-size: 16px;
    color: $color-font;
}
