.file-viewer {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    overflow: hidden;
    .close {
        font-size: 3rem;
        position: absolute;
        right: 7vw;
        top: 2vh;
        &:hover {
            cursor: pointer;
        }
    }
    .container {
        // border: 1px solid red;
        overflow: hidden;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .image-viewer {
            max-width: 80vw;
            max-height: 80vh;
            img {
                object-fit: cover;
            }
        }
        .video-viewer {
            max-width: 90vw;
            max-height: 90vh;
            video {
                max-width: 70vw;
                max-height: 70vh;
            }
        }
        .pdf-viewer {
            height: 100%;
            width: 100%;
        }
    }
}
